.title_box {
    width: 100%s;
    height: 286px;
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:  76px;
    padding-right:  76px;
}
.title{
    display: flex;
    justify-content: center;
    width: 523px;
    height: 166px;
    color: rgba(21, 105, 99, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 83px;
}
.description {
    display: flex;
    justify-content: center;
    width: 523px;
    height: 96px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
color: #2C1500;
opacity: 0.8;
}